@media screen and (max-width: 768px) {

  #HomePage-row-pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {

  #HomePage-row-phone {
    display: none
  }
}

#homepage-grid {
  display: flex;
}


#invisible-scrollbar::-webkit-scrollbar {
  display: none;
}